.accordion {
    padding: 0 8px;
    border-top: solid 1px $black30;
    border-bottom: solid 1px $black30;

    .accordion-group > & + & {
        margin-top: -1px;
    }
}

.accordion__title {
    position: relative;
    padding: $padding 0;
    margin-bottom: 0;
    cursor: pointer;

    &:after {
        position: absolute;
        top: 50%;
        right: 0;
        font-family: 'Flaticon';
        font-size: 16px;
        content: '\f102';
        transform: translateY(-50%) rotate(0);
        transition: all .3s ease;
    }

    &.is-active {
        .btn {
            transform: rotate(-180deg);
        }
    }

    .h2 {
        font-size: 1em;

        @media #{$medium} {
            font-size: xx-large;
        }
    } 
}

.accordion__title--no-arrow {
    &:after {
        display: none;
    }
}

.accordion__content {
    display: none;
    position: relative;
}

.accordion-group--plusminus {
    .accordion__title {
        &:after {
            content: "+";
        }

        &.is-active:after {
            content: "-";
        }
    }

    .accordion:last-child {
        border-bottom: 0;
    }
}

.accordion-group--style-one {
    .accordion {
        border: 0;
    }

    .accordion__title:after {
        display: none;
    }
}

.accordion-group--hide-after {
    .accordion {
        padding: 0;
    }
    .accordion__content {
        display: block;
    }
}

.accordion--regular-list {
    .accordion {
        border: 0;
        padding: 0;
    }
    .accordion__title {
        padding: 0;
        padding-left: $padding/2;

        &:after {
            display: none;
        }

        &:before {
            content: "";
            font-family: FontAwesome;
            font-size: 10px;
            margin-right: $padding/4;
            position: absolute;
            left: 0;
            transition: transform .3s ease;
        }

        &.is-active {
            &:before {
                transform: rotate(90deg);
            }
        }
    }

    .accordion__content {
        padding-left: $padding/2;
    }
}