[data-anim-js="bounce-up"] {
	opacity: 0;
	transition: all .7s ease-out;
	transform: translate3d(0, 200px, 0);
	backface-visibility: hidden;
}

.in-view[data-anim-js="bounce-up"] {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.ken-burn {
  animation: kenburns 20s ease infinite;
}

@keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1.2, 1.2, 1.2);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(1.5, 1.5, 1.5);
        opacity: 0;
    }
}