.aside {

}

.aside-nav {
	margin-bottom: $padding;

	@media #{$medium} {
		margin-bottom: 0;
	}
}

.side-nav {
	& > a {
		display: block;
		padding: $padding/4;

		&:hover, &.is-active {
			background-color: $brand_red;
			color: white;
		}
	}
}

.module-title {
	font-size: 18px;
	color: $black90;
}

.detail-thumb__title {
	margin-bottom: 	$padding/8;
}

.ad {
	padding: $padding/2 0;
}