
// Setup
// ------------------------------------------------------------------------ //

$BTN_PADDING: $space/3 $space;

@mixin btnStyle( $bg, $color: #fff ) {
    color: $color;
    background: $bg;

    &:hover,
    &:focus {

    }
}


// Base Style
// ------------------------------------------------------------------------ //

.btn {
    display: inline-block;
    padding: $BTN_PADDING;
    border: 0;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $black80;
    background: #ddd;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease;
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
    }
}


// Modifier
// ------------------------------------------------------------------------ //

.btn--block {
    width: 100%;
}

.btn--rounded {
    border-radius: $br;
}

.btn--blue {
    background-color: $brand_blue;
    color: white;
}

.btn--green {
    background-color: $brand_green;
    color: white;
}

.btn--orange {
    background-color: $brand_orange;
    color: white;

    &:hover, &:focus {
        background-color: orange;
        color: white;
    }
}

.btn--red {
    background-color: $brand_red;
    color: white;
}

.btn--icon {
    padding: 0;
    line-height: 1;
    background: none;

    i {
        margin: 0 $padding/8;
    }
}

.btn--circle {
    background-color: white;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;

    i {
        line-height: 40px;
    }
}

.btn--circle-outline {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
}

.btn--circle-outline--white {
    border-color: white;
    color: white;
}

.btn--circle-blue {
    background-color: $brand_blue;
    color: white;
}

.btn--circle-2x {
    width: 40px;
    height: 40px;

    @media #{$medium} {
        width: 70px;
        height: 70px;
    }

    i {
        line-height: 40px;
        @media #{$medium} {
            line-height: 70px;        
        }
    }
}

.tooltip-container {
    position: relative;

    .btn.is-active + .tooltip {
        display: inline-block;
    }
}

.tooltip {
    background-color: rgba(black, .7);
    color: white;
    border-radius: $br*2;
    position: absolute;
    top: -$padding/4;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
    display: none;
}

.tooltip--wide {
    .tooltip__content {
        @media #{$medium} {
            min-width: 700px;
        }
    }
}

.tooltip__content {
    position: relative;
    padding: $padding/2;

    &:after {
        content: "\f0d7";
        position: absolute;
        font: normal normal normal 30px FontAwesome;
        display: inline-block;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        color: rgba(black, .7);
    }
}

.btn--style-one {
    background-color: transparent;
    border: 2px solid $brand_red;
    border-radius: $br;
    color: $brand_red;
}

.btn--icon-w-text {
    span + i {
        margin-left: 10px;
    }
}