.card {
	position: relative;
	padding: $padding/2;
}

.user__img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #383e4e;

	& + .text-right {
		margin-left: $padding/4;
	}
}

.user__img--small {
	width: 45px;
	height: 45px;
}