.circle-list {
	display: inline-block;
	.circle {
		margin: $padding/2;
		@media #{$medium} {
			float: left;
			margin: 0;
		}

		& + i.fa-chevron-right {
			float: left;
			padding: $padding;

			@media #{$medium} {
				margin-top: 35px;
			}

			@media #{$large} {
				margin-top: 80px;
			}
		}
	}
}

.circle {
	border-radius: 50%;
	text-align: center;
	position: relative;
}

.circle__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.circle__content__title {
	margin-bottom: $padding/4;
}

.circle__content__desc {
	margin-bottom: 0;
}