.drop-down {
    position: relative;
}

.drop-down__pop {
    position: absolute;
    z-index: 1;
    bottom: 0;
    transform: translateY(110%);
    background-color: white;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    border: 1px solid transparent;
    transition: all 0.5s cubic-bezier(0.23, -0.17, 0.12, 1);

}

.drop-down__anchor {
    &.active {
        & + .drop-down__pop {
            opacity: 1;
            overflow: visible;
            max-height: none;
            border: 1px solid $black30;
        }
    }
}

.drop-down__pop__inner {
    position: relative;

    .block {
        padding: $padding/4;
    }
}

.drop-down__pop__arrow {
    position: absolute;
    color: $brand_red;
    top: 0;
    left: 6px;
    transform: translateY(-100%);
    height: 10px;
}

.drop-down__pop__anchor {
    display: block;
    padding: $padding/4;
}
