.site-footer {
	font-size: 14px;
	background-color: $brand-dark-grey;

	a {
		color: #c5cad8;
	}

	.hr--style-one {
		border-top: 1px solid rgba(#c5cad8, .5);
	}
}

.site-map > ul > li {
	@media #{$medium} {
		margin-right: $padding/4;

		&:last-child {
			margin-right: 0;
		}
	}
}

.btn-go-to-top {
	i {
		line-height: 60px;
	}
}

.site-footer__top {
	font-size: 10px;
	padding-top: $padding/2;
	padding-bottom: $padding/2;

	@media #{$medium} {
		font-size: inherit;
		padding-top: $padding;
		padding-bottom: $padding;
	}

	.social-media {
		display: flex;
		flex-flow: row wrap;
		margin-left: 0;
	}
	
	.social-media__item {
		margin-left: $padding/2;

		&:first-child {
			margin-left: 0;
		}
	}
}


.site-footer__bottom {
	line-height: 1.6;
	font-size: smaller;

	@media #{$medium} {
		font-size: inherit;
	}
	.v-center {
		align-items: flex-start;
		flex-flow: column wrap;

		@media #{$medium} {
			flex-flow: row wrap;
		}
	}

	.footer-contact {
		margin-left: 0;
	}
}

.footer-contact {
	span {
		display: block;

		@media #{$medium} {
			display: inline-block;
		}
	}
}