
// Config
// ------------------------------------------------------------------------ //

$input_border_size      : 1 * 1px;
$input_border_color     : $black40;
$input_padding          : $space/3;
$input_bg               : #fff;


// Base style
// ------------------------------------------------------------------------ //

legend {
    margin-bottom: $space/2;
}

// Fix small bullet on Webkit
// http://goo.gl/WgqfpM
input[type="password"] {
    font: small-caption;
    font-size: 1em;
}

// Hide input type number spinner
// http://goo.gl/lcCQgB
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance:textfield;
}

.form__row {
    margin-bottom: $space/2;
}

.form-label {
    display: block;
    margin-top: $space/3;
}

.form-input {
    padding: $input_padding;
    border: solid $input_border_size $input_border_color;
    font-family: inherit;
    background: $input_bg;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

    &:focus {
        border-color: #2669d3;
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
    }
}

.custom-radio,
.custom-checkbox {
    cursor: pointer;
    user-select: none;

    span {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        vertical-align: middle;
        line-height: $space;

        &:before {
            position: absolute;
            top: 2px;
            left: 0;
            width: 14px;
            height: 14px;
            border: solid 1px #C9C9C9;
            color: #333;
            content: '';
        }
    }

    & + & {
        margin-left: 16px;
    }

    &--center {
        span:before {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.custom-radio {

    span {
        
        &:before {
            border-radius: 50%;
        }
    }

    input:focus + span:before {
        border-color: $brand_blue;
    }

    input:checked + span:before {
        background: #333;
        box-shadow: inset 0 0 0 2px #fff;
    }
}

.custom-checkbox {

    span {

        &:before {
            border-radius: 2px;
            font-family: 'FontAwesome';
            line-height: 0.9;
        }
    }

    input:focus + span:before {
        border-color: $brand_blue;
    }

    input:checked + span:before {
        content: "\f00c";
    }
}

// Modifier
// ------------------------------------------------------------------------ //

.form-input--error {
    border-color: #d32c31;

    &:focus {
        border-color: #d32c31;
    }
}

.form-input--success {
    border-color: #4eb74a;

    &:focus {
        border-color: #4eb74a;
    }
}

.field-block {
    margin-bottom: $padding/2;
}

.form-input--block {
    width: 100%;
}

.form--style-one {
    input[type="text"], input[type="email"], input[type="password"], textarea {
        background-color: transparent;
        outline: none;
    }

    textarea {
        resize: none;
    }

    .form-input {
        width: 100%;
    }

    .field-group {
        margin-bottom: $padding/2;
    }

    .msg-error {
        color: $brand_red;
        margin-top: $padding/4;
        display: inline-block;
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }


    .inputfile + label {
        color: white;
        background-color: $brand_red;
        display: inline-block;
        margin-bottom: 0;
        line-height: 34px;
        padding: 0 $padding/2;
        border-radius: $br;
        cursor: pointer;
    }

    .inputfile--block + label {
        width: 100%;
        text-align: center;
    }

    .inputfile--grey + label {
        background-color: $black40;
    }
    .inputfile:focus + label,
    .inputfile + label:hover {
        background-color: $brand_red;
    }

    .inputfile--grey:focus + label,
    .inputfile--grey + label:hover {
        background-color: $black40;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(#4a4a4a, .2);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: rgba(#4a4a4a, .2);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: rgba(#4a4a4a, .2);
    }
    :-moz-placeholder { /* Firefox 18- */
      color: rgba(#4a4a4a, .2);
    }

    .input-file-changed {
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: rgba(#4a4a4a, 1);
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: rgba(#4a4a4a, 1);
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: rgba(#4a4a4a, 1);
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: rgba(#4a4a4a, 1);
        }
    }

    .fieldset__title {
        height: 50px;
        position: relative;
        span {
            font-weight: $header-font-weight;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-41%) translateX(-50%);
            background-color: white;
            padding: 0 10px;
            line-height: 1;
        }
        hr {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            margin: 0;
        }
    }

    .check-custom-odd {
        display: block;
    
        input[type="radio"], input[type="checkbox"] {
            display: none;
            & + label {
                background-color: transparent;
                margin-bottom: 0;
                padding: 0;
                padding-left: $padding/2 + 10;
                position: relative;
                display: inline-block;
                cursor: pointer;
                transition: all .3s ease-in-out;
                width: 100%;
                color: #c6c6c6;
                font-weight: 300;
                font-size: 15px;
                
                &:before, &:after {
                    content: '';
                    border-radius: 2px;
                    top: 3px;
                    position: absolute;
                    left: $padding/10;
                    width: 1em;
                    height: 1em;
                    text-align: center;
                    transition: all .3s ease;
                }
              }
        }

        input[type="radio"] + label, input[type="checkbox"] + label {
          &:before {
            transition: all .3s ease;
            border: 1px solid #c6c6c6;
          }
          &:hover:before {
            transition: all .3s ease;
            background-color: $brand_red;
          }
        }

        input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
            color: inherit;
            &:before {
                background: url('../img/check.png') no-repeat center white !important;
                background-size: cover;
            } 
        }
    }


    .check-custom {
        display: block;
    
        input[type="radio"], input[type="checkbox"] {
            display: none;
            & + label {
                position: relative;
                display: inline-block;
                cursor: pointer;
                transition: all .3s ease-in-out;
                background-color: white;
                padding: 0;
                padding-left: $padding/2 + 10;
                width: 100%;
                color: #c6c6c6;
                font-weight: 300;
                font-size: 15px;

                &:before, &:after {
                  content: '';
                  position: absolute;
                  top: $padding/10;
                  left: $padding/10;
                  width: 1em;
                  height: 1em;
                  text-align: center;
                  border-radius: 50%;
                  transition: all .3s ease;
                }
              }
        }

        input[type="radio"] + label, input[type="checkbox"] + label {
          &:before {
            transition: all .3s ease;
            border: 1px solid #c6c6c6;
          }
          &:hover:before {
            transition: all .3s ease;
            background-color: $brand_green;
          }
        }

        input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
        }

        input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
            color: $black40;
            font-weight: $header-font-weight;
          &:before {
            transition: all .3s ease;
            background-color: $brand_green;
          }
        } 
    }
}