.site-header {
	padding: $padding/2 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	background-color: #FFF;
	height: 100px;

	.utils {
		margin-left: 0;
	}

	&.smaller {
		box-shadow: 0 0 3px rgba(black, .3);
		.user-helper {
			display: none;
		}

		.logo img {
			width: 100px;
		}
	}

	@media #{$medium} {
		height: auto;
	}
}

.header__left {
	width: 100%;

	@media #{$medium} {
		width: auto;
	}
}

.logo {
	img {
		max-width: 100px;

		@media #{$medium} {
			max-width: 100%;
		}
	}
}

.utils {
	position: absolute;
	left: 0;
	top: 100px;
	background-color: #FFF;
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s ease;
	width: 100%;

	@media #{$medium} {
		position: relative;
		width: auto;
		opacity: 1;
		top: 0;
		pointer-events: inherit;
	}

	&.is-active {
		opacity: 1;
		pointer-events: inherit;
	}
}

.flexbox .user-helper {
	display:none;

	@media #{$medium} {
		display: flex;
	}
}

.user-helper {
	justify-content: flex-end;
	
	.user-helper__item {
		width: 100%;
		text-align: left;
		margin-left: 0;
		padding: $padding/4;

		@media #{$medium} {
			width: auto;
			padding: 0;
		}	
	}

	.contact {
		margin-right: $padding/4;
	}
}


.nav-list {
	margin: 0;
	padding: 0;

	& > li {
		@media #{$medium} {
			margin-right: $padding/4;
			float: left;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.site-header__container {
	flex-flow: row wrap;
}

.user-helper {
	flex-flow: column wrap;

	& > * {
		margin-right: $padding/4;

		&:last-child {
			margin-right: 0;
		}
	}

	@media #{$medium} {
		flex-flow: row wrap;
	}
}

.header-nav {
	@media #{$medium} {
		margin-right: -$padding/2;
		display: flex;
		justify-content: flex-end;
	}

	.btn {
		display: block;
		background-color: transparent;
		text-align: left;
		border-radius: 0;
		&.is-active {
			color: white;
			background-color: $brand_red;
		}

		&:hover {
			color: $brand_red;
		}

		@media #{$medium} {
			border-radius: $br;
			display: inline-block;
			text-align: center;
		}
	}
	
	.user-access-mobile {
		& > * {
			width: 50%;
			text-align: center;
		}
	}
}
