.popup__content {
    padding: $padding/2;
}

.popup-overlay {
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(black, .5);
    top: 0;
    left: 0;
    z-index: 3;

    &.active {
        display:block;
    }
}


.popup {
    display:none;
    z-index: 4;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    .btn-close {
        position: absolute;
        right: -30px;
        top: -40px;
        color: white;
        font-size: 30px;
        line-height: 1;
    }

    .btn-close--red {
        color: #da2d37;
    }

    &.active {
        display: inline-block;
    }

    .btn-corner-right {
        top: 0;
        right: 0;
        transform: translateY(-25%) translateX(25%);
    }

    .envelope {
        width: 200px;
        margin-top: -80px;
    }

    .logo-sl {
        margin-top: -110px;
    }
}