.section {
	padding: $padding 0;
}

.section--half {
	padding: $padding/4 0;
}

.section__title {
	@extend .header-font;
	@extend .text-black;
	@media #{$medium} {
		font-size: 50px;
		margin-bottom: $padding/2;
	}	
}

.section-home-slider {
	margin-top: 100px;
	position: relative;
}

.section-affiliate {

}

.section-all-info {
	.accordion__title {
		.btn-chevron {
			width: 50%;
			text-align: center;
		}
	}
}

#section-affiliate-info-slider, #section-advertiser-info-slider {
	.slide__caption {
		padding: $padding;
		text-transform: uppercase;
		left: 50%;
		transform: translateX(-50%);

		& > p:first-child {
			
		}
	}
}

.section-how-work {
	padding-top: $padding * 2;
	padding-bottom: $padding * 2;

	.circle__content__desc {
		font-size: smaller;

		@media #{$medium} {
			font-size: inherit;
		}
	}

	.circle__content > img {
		display: none;

		@media #{$large} {
			display: inline-block;
		}
	}

	.circle {
		width: 200px;
		height: 200px;
		margin: 0 auto;

		@media #{$medium} {
			width: 160px;
			height: 160px;
		}

		@media #{$large} {
			width: 250px;
			height: 250px;
		}

		& + .fa-chevron-right {
			display: none;
			transform: rotate(90deg);

			@media #{$medium} {
				display: inline-block;
				transform: rotate(0);
			}
		}
	}
}

.section-innovative {
	position: relative;
	.hand-and-phone-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	.hand-and-phone {
		height: 300px;
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.mac-img {
		width: 80%;
	}
}

.section-contact {
	background-color: $black20;
}

.section--grey {
	background-color: $black30;
}

.section--clear {
	padding: 0;
}

.contact-block {
	padding: $padding;
}

.bar {
	width: 80px;
	height: 5px;
	display: inline-block;
	background-color: $brand_orange;
}

.bar--green {
	background-color: $brand_green;
}

.section-all-info__item {
	position: relative;
}

.parallax-container {
	position: relative;
}

.parallax-dom-elem {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	.slide__caption {
		top: $padding;
		left: 50%;
		transform: translateX(-50%);
	}
}

.partner-logo {
	width: 50%;
	padding: $padding/2;
	margin-top: $padding/4;
	margin-bottom: $padding/4;

	@media #{$medium} {
		width: 25%;
	}
}

.section-page__title {
	@media #{$medium} {
		font-size: 50px;
		color: $black90;
	}
}

.section-page__article {
	padding: $padding/2 0;
}

.section-page__post-list {
	padding: 0;
}

.post__title {
	margin-bottom: $padding/4;
}

.small-spot {
	@media #{$medium} {
		max-width: 500px;
		margin: 0 auto;
	}
}

.video-wrapper {
	position: relative;
}

.ads {
	display: none;

	@media #{$medium} {
		display: block;
	}
}

.section-page-banner {
	margin-top: 100px;
	position: relative;

	@media #{$medium} {
		margin-top: 126px;
	}
}

.space-for-mobile {
	padding-top: $padding/2;
	padding-bottom: $padding/2;

	@media #{$medium} {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.thumb-recent-post {
	width: 150px;
}