.slider {
	margin-bottom: 0 !important;
	display: none;

	& + .fake-slider {
		width: 100%;
		height: 500px;
		display: block;
		background-color: orange;
	}
}

.slick-initialized + .fake-slider {
	display: none;
}

.slide__item {
	position: relative;
	img {
		width: 100%;
	}
}

.slide__caption {
	position: relative;

	@media #{$medium} {
		position: absolute;
		color: white;
	}

	.text-jumbo {
		margin-bottom: $padding/4;
		line-height: 1.2;

		* {
			margin-bottom: $padding/4;
			line-height: 1.2;
		}
	}
}

.slide__caption--block {
	width: 100%;
	@extend .text-center;
}

.slide__caption--bottom {

	@media #{$medium} {
		bottom: $padding/2;
	}
}

.slider--dots-abs-bottom {
	.slick-dots {

		@media #{$medium} {
			position: absolute;
			bottom: 0;
		}
	}
}

.slider-carousel--center {
	.thumb {
		padding: $padding/2;
		cursor: pointer;
	}

	.slick-center.thumb {
		transform: scale(1.08);
	}
}

.custom-arrows {
	display: none;

	@media #{$medium} {
		display: inline-block;
	}
}

.custom-arrows-next, .custom-arrows-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.custom-arrows-prev {
	left: $padding/2;
}

.custom-arrows-next {
	right: $padding/2;
}

.custom-dots__container {
	position: relative;	
}

.custom-dots {
	position: absolute;
	bottom: $padding/2;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	display: none;

	.btn.is-active {
		background-color: $brand_red;
		color: white;
	}

	@media #{$medium} {
		display: block;
	}

	& > * {
		float: left;
		padding: $padding/4 $padding/2;
	}
}

.slider__item__header {
	padding: $padding/2 0;
	position: relative;
	p:last-child {
		margin-bottom: 0;
	}

	.caret-down {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%) translateY(60%);
	}
}

.slider__item__header__title {
	margin-bottom: 0;

	& + p {
		margin-bottom: 0;

		@media #{$medium} {
			font-size: 55px;
		}
	}
}

#slider-home {
	.slide__item {
		min-height: 300px;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		@media #{$medium} {
			min-height: 500px;
		}
	}
	.slide__caption {
		padding: $padding/4;
		color: white;
		position: absolute;
		bottom: 50%;
		right: 0;
		transform: translateY(50%);

		@media #{$medium} {
			background-color: transparent;
			width: 50%;
			bottom: 50%;
			transform: translateY(50%);

		}
	}
}

.slick-initialized {
	.slide__caption--animate {
		animation: fade-in .8s ease forwards;
	}
}

.slide__img-bg {
	min-height: 500px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

.slick-active .slide__img-bg--panning {
  	animation: zoom 30s linear;
}

.slide__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 10;
}

.slide__caption--white {
	color: white;
}

.slider-custom-dots {
	top: 100px;
	color: white;
}