.tab-content {
	display: none;

	&.is-active {
		display: block;
	}
}

.tab--style-one {
	.tab-navs {
		display: flex;
		justify-content: space-around;
		flex-flow: column wrap;
		margin-bottom: $padding/2;

		@media #{$medium} {
			flex-flow: row wrap;
		}
	}

	.tab-nav {
		flex: 1;
		padding: $padding/2;
		color: $body_font_color;
	}
}

.tab-separator {
	margin-bottom: $padding;
}