.thumbs {
    margin: 0 -$padding/8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
 
    .thumb {
        padding: $padding/8;
        min-width: 100%;
        flex-grow: 1;
        @media #{$medium} {
            min-width: 33.33%;
        }
    }
}

.thumb__img {
    background-size: cover;
    background-position: center;
}

.thumb {
    display: inline-block;
    margin-bottom: $padding/4;

    &.u-watched {
        .thumb__img {
            filter: gray;
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(100%);
            -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        }
    }
}

.thumb-icon-play {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.thumb__anchor {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.thumb__link {
    display: block;
    width: 100%;
}

.thumb__img {
    height: 130px;
    width: 100%;
    position: relative;
    overflow: hidden;

    a {
        color: white !important;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .btn-play {
        width: 40px;
        height: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        border: 0;
        margin: 0;
        position: absolute;

        &:hover {
            background-color: transparent;
            .icon {
                
            }
        }

        .icon {
            position: relative;
        }
    }
}

.thumbs--style-one {
    .thumb__img {
        border-top-left-radius: $br;
        border-top-right-radius: $br;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .thumb__info {
        border-left: 1px solid $black20;
        border-right: 1px solid $black20;
        border-bottom: 1px solid $black20;
        border-bottom-left-radius: $br;
        border-bottom-right-radius: $br;
    }
}

.thumb__title {
    padding: $padding/4;
    justify-content: space-between;
    & > span {
        max-width: 180px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: $padding/4;
    }
}

.thumb__info--no-divide {
    .thumb__title {
        display: block;

        span {
            padding-left: 0;
        }
    }
}

.thumb__info__footer {
    padding: $padding/4;
    display: flex;
    justify-content: space-between;
}

.thumb__info__utils {
    font-size: 10px;
}

.thumb__info__util {
    padding: $padding/7 0;
    text-align: center;
    flex: 1 auto;
    line-height: 1.6;
    background-color: #f5f5f5;

    &:nth-child(1) {
        border-bottom-left-radius: $br;
    }
    &:nth-child(3) {
        border-bottom-right-radius: $br;
    }
}

.duration {
    color: white;
    padding: 0 $padding/4;
    position: absolute;
    bottom: $padding/4;
    right: $padding/4;
}

.thumbs-style-one--no-line {
    .thumb__info {
        border: 0;
    }
}

.thumbs--has-addnew {
    align-items: stretch;

    .thumb--addnew {
        position: relative;
        min-height: 200px;
    }
}

.min-thumb {
    img {
        max-width: 150px;
    }
}