
.flexbox {

    // @media screen and (min-width: 40em) {
        .v-center {
            display: flex;
            align-items: center;

            > * {
                margin-bottom: 0;
            }

            > * + * {
                margin-left: 16px;
            }

            .v-center-full {
                flex: 1 0 auto;
            }
        }

        .v-center--spread {
            justify-content: space-between;
        }

        .v-center--around {
            justify-content: space-around;
        }
    // }
}
