
// List helper
// ------------------------------------------------------------------------ //

.list-nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-inline > li {
    display: inline-block;
}


// Typography helper
// ------------------------------------------------------------------------ //

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-ellipsis {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


// Visual helper
// ------------------------------------------------------------------------ //

.clearfix:after,
.cf:after {
    display: table;
    clear: both;
    content: '';
}

.hidden {
    display: none !important;
}

.visuallyhidden,
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.invisible {
    visibility: hidden;
}

.full {
    width: 100%;
}

.bg-grey {
    background-color: $black30;
}

.bg-orange {
    background-color: $brand_orange;
    color: white;
}

.bg-blue {
    background-color: $brand_blue;
    color: white;
}

.bg-green {
    background-color: $brand_green;
    color: white;
}

.text-orange {
    color: $brand_orange !important;
}

.text-jumbo {
    font-family: 'Gotham';

    @media #{$large} {
        font-size: 60px;

        * {
            font-size: 60px;            
        }
    }
}

.text-black {
    color: black;
}

.text-red {
    color: $brand_red !important;
}

.text-blue {
    color: $brand_blue !important;
}

.text-green {
    color: $brand_green !important;
}

.hr--style-one {
    margin-bottom: 0;
}

.header-font-medium {
    font-family: $header_font;
    font-weight: 500;
}

.header-font {
    font-family: $header_font;
    font-weight: $header_font-weight;
}

.extra-space {
    height: $padding;
    display: block;
}

.extra-space-4x {
    height: $padding*4;
    display: block;
}

.extra-space-5x {
    height: $padding*5;
    display: block;
}

.img-black {
    width: 100%;
    max-width: none;
}

.show-desktop {
    display: none;

    @media #{$medium} {
        display: block;
    }
}

.hide-desktop {
    @media #{$medium} {
        display: none !important;
    }
}

.img-block {
    width: 100%;
}

.flexblock {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.img-full {
    width:  100%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden-medium {
    @media #{$medium} {
        display: none;
    }
}