/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //
@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/Gotham Book.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Gotham Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Gotham Book.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/Gotham Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Gotham Book.svg#7510147900d23fa3ad697e74bf146ea2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham Medium.eot"); /* IE9 */
    src: url("../../fonts/Gotham Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/Gotham Medium.woff") format("woff"), /* chrome, firefox */
    url("../../fonts/Gotham Medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../../fonts/Gotham Medium.svg#Gotham") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham Bold.eot"); /* IE9 */
    src: url("../../fonts/Gotham Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/Gotham Bold.woff") format("woff"), /* chrome, firefox */
    url("../../fonts/Gotham Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../../fonts/Gotham Bold.svg#Gotham") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham Black.eot"); /* IE9 */
    src: url("../../fonts/Gotham Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/Gotham Black.woff") format("woff"), /* chrome, firefox */
    url("../../fonts/Gotham Black.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../../fonts/Gotham Black.svg#Gotham") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 800;
}


// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $body_font_color;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;

    @media #{$medium} {
        width: 95%;
    }
}

// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //


// 5 Footer
// ------------------------------------------------------------------------ //
.direct-link {
    background-color: orange;
    padding: $padding/4;
    position: fixed;
    right: 0;
    color: white;
    z-index: 99999;
    top: 0;
}