    /*
    Flaticon icon font: Flaticon
    Creation date: 03/06/2016 20:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../../fonts/Flaticon.eot");
  src: url("../../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../fonts/Flaticon.woff") format("woff"),
       url("../../fonts/Flaticon.ttf") format("truetype"),
       url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add:before { content: "\f100"; }
.flaticon-arrows-down:before { content: "\f101"; }
.flaticon-arrows-up:before { content: "\f102"; }
.flaticon-atm:before { content: "\f103"; }
.flaticon-bell:before { content: "\f104"; }
.flaticon-chip:before { content: "\f105"; }
.flaticon-clock:before { content: "\f106"; }
.flaticon-close:before { content: "\f107"; }
.flaticon-eye:before { content: "\f108"; }
.flaticon-facebook:before { content: "\f109"; }
.flaticon-flag:before { content: "\f10a"; }
.flaticon-hamburger:before { content: "\f10b"; }
.flaticon-home:before { content: "\f10c"; }
.flaticon-income:before { content: "\f10d"; }
.flaticon-instagram:before { content: "\f10e"; }
.flaticon-jpg:before { content: "\f10f"; }
.flaticon-like:before { content: "\f110"; }
.flaticon-line:before { content: "\f111"; }
.flaticon-magnify:before { content: "\f112"; }
.flaticon-money:before { content: "\f113"; }
.flaticon-moneyhand:before { content: "\f114"; }
.flaticon-monitor:before { content: "\f115"; }
.flaticon-multi-user:before { content: "\f116"; }
.flaticon-pdf:before { content: "\f117"; }
.flaticon-pen:before { content: "\f118"; }
.flaticon-play:before { content: "\f119"; }
.flaticon-play-movie:before { content: "\f11a"; }
.flaticon-share:before { content: "\f11b"; }
.flaticon-social:before { content: "\f11c"; }
.flaticon-social-media:before { content: "\f11d"; }
.flaticon-sofa:before { content: "\f11e"; }
.flaticon-speakers:before { content: "\f11f"; }
.flaticon-stamp:before { content: "\f120"; }
.flaticon-targetarea:before { content: "\f121"; }
.flaticon-technology:before { content: "\f122"; }
.flaticon-telephone:before { content: "\f123"; }
.flaticon-twitter:before { content: "\f124"; }
.flaticon-wallet:before { content: "\f125"; }
.flaticon-youtube:before { content: "\f126"; }
    
    $font-Flaticon-add: "\f100";
    $font-Flaticon-arrows-down: "\f101";
    $font-Flaticon-arrows-up: "\f102";
    $font-Flaticon-atm: "\f103";
    $font-Flaticon-bell: "\f104";
    $font-Flaticon-chip: "\f105";
    $font-Flaticon-clock: "\f106";
    $font-Flaticon-close: "\f107";
    $font-Flaticon-eye: "\f108";
    $font-Flaticon-facebook: "\f109";
    $font-Flaticon-flag: "\f10a";
    $font-Flaticon-hamburger: "\f10b";
    $font-Flaticon-home: "\f10c";
    $font-Flaticon-income: "\f10d";
    $font-Flaticon-instagram: "\f10e";
    $font-Flaticon-jpg: "\f10f";
    $font-Flaticon-like: "\f110";
    $font-Flaticon-line: "\f111";
    $font-Flaticon-magnify: "\f112";
    $font-Flaticon-money: "\f113";
    $font-Flaticon-moneyhand: "\f114";
    $font-Flaticon-monitor: "\f115";
    $font-Flaticon-multi-user: "\f116";
    $font-Flaticon-pdf: "\f117";
    $font-Flaticon-pen: "\f118";
    $font-Flaticon-play: "\f119";
    $font-Flaticon-play-movie: "\f11a";
    $font-Flaticon-share: "\f11b";
    $font-Flaticon-social: "\f11c";
    $font-Flaticon-social-media: "\f11d";
    $font-Flaticon-sofa: "\f11e";
    $font-Flaticon-speakers: "\f11f";
    $font-Flaticon-stamp: "\f120";
    $font-Flaticon-targetarea: "\f121";
    $font-Flaticon-technology: "\f122";
    $font-Flaticon-telephone: "\f123";
    $font-Flaticon-twitter: "\f124";
    $font-Flaticon-wallet: "\f125";
    $font-Flaticon-youtube: "\f126";