// Plugins
// ------------------------------------------------------------------------ //
//@import "animate-sass/animate";
.parallax-window {
    background: transparent;
    min-height: 200px;

    @media #{$medium} {
    	min-height: 300px;
    }

    img {
    	max-width: none;
    }
}

.parallax-window__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;

    .line {
        width: 100px;
        height: 5px;
        background-color: $brand_red;
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.parallax-slider img {
	width: 100%;
}

.paraxify {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
    display: none;

    &.is-active {
        display: block;
    }
}
@import "flaticon";
@import "font-awesome";

.fi--big {
    font-size: 75px;
    display: inline-block;
    margin-bottom: $padding/2;
}

@import "plyr/plyr";
@import "wizard";