.question-step {
    background-color: rgba(black, .8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;


    .btn {
        margin-top: 0;
        margin-bottom: 0;
    }

    .btn-next {
        margin-top: $padding/4;
    }


    .btn-share {
        color: white;
        padding: $padding/4 $padding/2;
        background-color: $brand_red;
    }

    .step {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}

.question-step__text {
    display: inline-block;

    p {
        margin-bottom: $padding/4;
    }

    .check-custom__inner {
        display: inline-block;
        
        input[type="radio"] + label {
            background-color: transparent;
            margin-bottom: 0;
        }
    }
}

.video__wrapper.active {
    .question-step {
        display: block;
    }
}

.step__header {
    display: none;
    border-bottom: 1px solid rgba(white, .2);
}

.step__header__inner {
    justify-content: space-between;
    align-items: center;

    .inline {
        & > span {
            margin-right: $padding/2;

            &:last-child {
                margin-right: 0;
            }
        }

        em {
            font-style: normal;
            margin-right: $padding/6;
        }
    }
}

.step__number {
    margin: 0;
}

.step__desc {
    margin-bottom: 0;
}

.step__thumbs {
    margin-left: -$padding/4;
    margin-right: -$padding/4;

    & + div {
    }
}

.step__thumb {
    width: 25%;
    position: relative;
    padding: 0 $padding/4;
    float: left;
    

    img {
        width: 100%;
        display: block;
    }

    &:last-child {
        margin-right: 0;
    }

    .btn-play {
        height: inherit;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0;

        .icon {
            color: white;
        }

        &:hover {
            background-color: transparent;

            .icon {
                color: $brand_red;
            }
        }
    }
}

.step__body {
    padding: $padding/4;
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        color: white;
    }
}

.step__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.step__footer__inner {
    border-top: 1px solid rgba(white, .1);
    align-items: center;
    justify-content: space-between;
}

/*.wizard  {
    & > .steps {
        display: none;
    }
    & > .content {
        overflow: hidden; 
        width: auto;
        min-height: $padding;
        display: block;

        & > .title {
            display: none;
        }

        & > .body {
            float: left;
            position: absolute;
        }
    }
}*/

.wizard {
    & > .steps {
        display: none;
    }
    & > .content {
        & > .title {
            display: none;
        }
    }
}

.thankyou__text {
    font-size: smaller;

    @media #{$medium} {
        font-size: inherit;
    }
}